.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#wrapper{
  display:flex;
  justify-content:space-around;
}

.split{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: black;
}

li{
  list-style: none;
}

li:not(:last-child) {
  margin-bottom: 5vh;
}

.memo-entry:hover{
  background-color: darkgray;
}

#validation{
  color: red;
  font-weight: bold;
}

.btn-delete{
  margin-left: 5vh;
  float:right;
}



@media (max-width: 60rem) {
  #wrapper {
      flex-direction: column;
  }
  .left{
    width:30vw;
    flex-wrap: wrap;
    
  }
  #left-page{
    align-items: center;
  }

  .ui-textfield{
    width: 60vw;
    height:30vh;
  }

  .ui-input{
    width:40vw;
   
  }
  li:not(:last-child) {
    margin-bottom: 2vh;
  }
  
}